html, body, p{
	margin: 0;
	padding: 0;
	
}
.header{
text-align: center;

}
img{
	width: 200px;
	height: 200px;
	margin: auto;
	
	}
.column-left{
	font-size:28;
	width: 15%;
	float: left; 
	text-align: center;
	background-color: #a2c523;
	height: 1000px;
		background-image: url(drewno.png);

}
.column-center{
	width: 80%;
	height: 700px;
	background-color: #486b00;
	position: absolute;
	right: 0;
	overflow: auto;
	margin: 20;
	
}
.footer{
	text-align: center;
	clear: both;
	color: yellow;
	}
.obiekt{
height: 20px;
width: 100px;	
background-image: url(px.png);
position: absolute;
top: 1200px;
left: 4%;
font-size: 16;
color: yellow;
}	
.pop_up
{
position: fixed;
width: 250px;
height: 200px;
background-color: green;
right: 10;
bottom: 10;
text-align: center;
background-image: url(cookie.png);
}
.blok
{
width: 200px;
height: 200px;
background-color: green;	
position: relative;
left: 20;
float: left;
margin: 30;

}
.tekst
{
clear: both;
font-size: 20;
margin: 10;
}
body{
height: 100%;
background: url(drzewa.png) no-repeat center center fixed; 
background-size: cover;
}